body {
    background-color: lightgray ;
}
#content{
    color:blue;
    margin: 5%;
    padding: 5%;
    text-align: center;
}
h1 {
    text-align: center;
}

.info {
    width: 50%;
    margin-left: 25%;
}
/* fun facts */
.generated-content{ 
    color: red;
}
/* .btn {

} */
a:hover {
    color: purple;
    font-size: large;
}
a {
    color: green;
}

.btn-secondary{
    background-color: blueviolet;
}

.btn-secondary:hover{
    font-size: medium;
    font-style: italic;
}

img{
    width: 50%;
    margin-left: 25%;
}